/* line 2, ../sass/custom.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* line 22, ../sass/custom.scss */
.flexit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 35, ../sass/custom.scss */
.flex-wrap {
  /* wrap || nowrap || wrap-reverse */
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 49, ../sass/custom.scss */
.flex-col {
  /* column || row */
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 61, ../sass/custom.scss */
.flex-grow {
  /* shrink || grow */
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 65, ../sass/custom.scss */
.flex-shrink {
  /* shrink || grow */
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 77, ../sass/custom.scss */
.align-items-center {
  /* flex-start || flex-end || center || baseline || stretch */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 109, ../sass/custom.scss */
body {
  color: #333333;
  font-weight: 300;
}

/* line 114, ../sass/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 20px 0;
}

/* line 119, ../sass/custom.scss */
h1 {
  font-size: 30px;
}

/* line 123, ../sass/custom.scss */
h2 {
  font-size: 21px;
}

/* line 127, ../sass/custom.scss */
.no-padding {
  padding: 0px !important;
}

/* line 132, ../sass/custom.scss */
.btn.btn-circle {
  border-radius: 50%;
  height: 24px;
  padding: 3px;
  text-align: center;
  width: 24px;
}
/* line 139, ../sass/custom.scss */
.btn.btn-circle.btn-xs {
  height: 18px;
  width: 18px;
  padding: 0;
}
/* line 146, ../sass/custom.scss */
.btn.btn-outline {
  background: transparent;
  border: 1px solid;
  color: #1fa4df;
}
/* line 152, ../sass/custom.scss */
.btn.btn-primary {
  border-color: #1d53a5;
  background: #0077be;
  background: -moz-linear-gradient(90deg, #0077be 0%, #1d53a5 100%);
  background: -webkit-gradient(linear, bottom, top, color-stop(0%, #0077be), color-stop(100%, #1d53a5));
  background: -webkit-linear-gradient(-90deg, #0077be 0%, #1d53a5 100%);
  background: -o-linear-gradient(180deg, #0077be 0%, #1d53a5 100%);
  background: -ms-linear-gradient(180deg, #0077be 0%, #1d53a5 100%);
  background: linear-gradient(180deg, #0077be 0%, #1d53a5 100%);
}
/* line 158, ../sass/custom.scss */
.steps .btn {
  border: 2px solid;
  border-radius: 50% !important;
  color: #cccccc;
  font-weight: 600;
  height: 30px;
  margin-right: 65px;
  position: relative;
  width: 30px;
}
/* line 168, ../sass/custom.scss */
.steps .btn::after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 2px;
  left: 28px;
  position: absolute;
  top: 12px;
  width: 65px;
}
/* line 179, ../sass/custom.scss */
.steps .btn:last-child {
  margin-right: 0;
}
/* line 182, ../sass/custom.scss */
.steps .btn:last-child::after {
  display: none;
}
/* line 187, ../sass/custom.scss */
.steps .btn.active {
  color: #6c9800;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 193, ../sass/custom.scss */
.add-receptor .btn {
  height: 30px;
}
/* line 197, ../sass/custom.scss */
.btn-group-vertical .btn {
  text-align: left;
  font-size: 13px;
}
/* line 201, ../sass/custom.scss */
.btn-group-vertical .btn.active {
  background-color: #f6f6f6;
  box-shadow: none;
}

/* line 208, ../sass/custom.scss */
.form-control {
  background-color: #f6f6f6;
}

/* line 212, ../sass/custom.scss */
.nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 216, ../sass/custom.scss */
.nav-tabs > li {
  /* shrink || grow */
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 220, ../sass/custom.scss */
.nav-tabs > li > a {
  background: #f6f6f6;
  border-color: #e9e9e9;
  border-radius: 6px 6px 0 0;
  color: #1fa4df;
  font-size: 13px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
}
/* line 232, ../sass/custom.scss */
.nav-tabs > li.active > a {
  color: #666666;
}
/* line 238, ../sass/custom.scss */
.nav-tabs > li:last-child > a {
  margin-right: 0;
}

/* line 245, ../sass/custom.scss */
.columns {
  margin-bottom: 30px;
}
/* line 246, ../sass/custom.scss */
.columns .left-column {
  width: 33.33%;
}
/* line 249, ../sass/custom.scss */
.columns .left-column .btn-group-vertical {
  width: 100%;
}
/* line 253, ../sass/custom.scss */
.columns .right-column {
  margin-left: -1px;
  width: 66.66%;
}

/* line 261, ../sass/custom.scss */
.panel {
  border: 1px solid #e9e9e9;
  border-radius: 0;
  height: 100%;
  margin: 0;
}
/* line 267, ../sass/custom.scss */
.panel > div {
  border: 0;
}

/* line 272, ../sass/custom.scss */
.panel-heading {
  border-radius: 0;
  color: #ffffff;
  padding: 10px 20px;
}
/* line 277, ../sass/custom.scss */
.panel-primary .panel-heading {
  background-color: #47b5e9;
}
/* line 281, ../sass/custom.scss */
.panel-primary-lt .panel-heading {
  background-color: #acdef5;
}

/* line 286, ../sass/custom.scss */
.panel-body {
  padding: 16px;
}

/* line 290, ../sass/custom.scss */
.add-receptor {
  padding: 15px 25px 15px 20px;
}
/* line 293, ../sass/custom.scss */
.add-receptor label {
  font-size: 16px;
  font-weight: 300;
}
/* line 298, ../sass/custom.scss */
.add-receptor .input-group {
  margin: 0 12px 0 24px;
  /* shrink || grow */
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 302, ../sass/custom.scss */
.add-receptor .input-group .form-control {
  display: block;
  font-size: 12px;
  font-style: italic;
  height: 30px;
  padding: 8px 12px;
}
/* line 309, ../sass/custom.scss */
.add-receptor .input-group .input-group-btn {
  display: block;
  width: auto;
}
/* line 313, ../sass/custom.scss */
.add-receptor .input-group .input-group-btn .btn-default {
  background-color: #eeeeee;
  border-left: 0;
  padding: 8 12px;
}

/* line 323, ../sass/custom.scss */
.transaction-top, .transaction-bottom {
  background-color: #acdef5;
  border-top: 1px solid #47b5e9;
}
/* line 327, ../sass/custom.scss */
.transaction-top .form-control, .transaction-bottom .form-control {
  font-size: 18px;
  height: 38px;
}
/* line 332, ../sass/custom.scss */
.transaction-top .checkbox, .transaction-bottom .checkbox {
  margin: 9px 0;
}

/* line 337, ../sass/custom.scss */
.transaction-body {
  max-height: 280px;
  overflow: overlay;
  margin: 0;
}
/* line 342, ../sass/custom.scss */
.transaction-body li {
  padding: 0 20px;
}
/* line 346, ../sass/custom.scss */
.transaction-body li:last-child .transaction-row {
  border: 0;
}
/* line 351, ../sass/custom.scss */
.transaction-body li.danger {
  background-color: #f4d8e7;
}
/* line 355, ../sass/custom.scss */
.transaction-body li.warning {
  background-color: #fff7df;
}
/* line 360, ../sass/custom.scss */
.transaction-body span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 366, ../sass/custom.scss */
.transaction-body .top {
  font-size: 13px;
  max-width: 140px;
}
/* line 370, ../sass/custom.scss */
.transaction-body .bottom {
  max-width: 140px;
  font-size: 12px;
  opacity: .6;
}
/* line 375, ../sass/custom.scss */
.transaction-body .ammount {
  font-size: 18px;
  text-align: right;
}

/* line 381, ../sass/custom.scss */
.transaction-row {
  padding: 8px 0;
}
/* line 384, ../sass/custom.scss */
.transaction-row div {
  padding-right: 5px;
}
/* line 387, ../sass/custom.scss */
.transaction-row div:first-child {
  padding-left: 0;
}
/* line 391, ../sass/custom.scss */
.transaction-row div:last-child {
  padding-right: 0;
}
/* line 396, ../sass/custom.scss */
.transaction-body .transaction-row {
  border-bottom: 1px solid #e9e9e9;
}
/* line 399, ../sass/custom.scss */
.transaction-top .transaction-row, .transaction-bottom .transaction-row {
  padding: 12px 20px;
}

/* line 404, ../sass/custom.scss */
.transaction-bottom {
  border-top: 0;
}
/* line 408, ../sass/custom.scss */
.transaction-bottom h4 {
  margin: 0;
}

/* line 413, ../sass/custom.scss */
.emisor-code {
  padding: 0 20px;
  background-color: #fff7df;
}
/* line 417, ../sass/custom.scss */
.emisor-code li {
  color: #ccc;
}
/* line 420, ../sass/custom.scss */
.emisor-code li .glyphicon {
  color: #1fa4df;
}

/* line 426, ../sass/custom.scss */
.input-custom {
  position: relative;
}
/* line 429, ../sass/custom.scss */
.input-custom .form-control {
  font-size: 12px;
  font-style: italic;
  height: 30px;
  padding: 8px 12px;
}
/* line 436, ../sass/custom.scss */
.input-custom .btn {
  color: #c8175e;
  right: 6px;
  position: absolute;
  top: 6px;
}
/* line 442, ../sass/custom.scss */
.input-custom .btn[disabled] {
  color: #ccc;
  opacity: 1;
}
