<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<meta charset="utf-8">	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="static/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/stylesheets/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,700,900,400' rel='stylesheet' type='text/css'>
	<!-- JS -->
    <script src="static/js/angular-1.5.8/angular.min.js"></script> 
    <script src="static/js/angular-1.5.8/angular-animate.min.js"></script>
    <script src="static/js/angular-1.5.8/angular-touch.min.js"></script> 
    <script src="static/js/ui-bootstrap/ui-bootstrap-tpls-2.1.3.min.js"></script> 
    <script src="static/js/app/app.js"></script> 
    
</head>
<body ng-app="testApp" ng-controller="testController as vm">
<div class="container">
	<h1>
		Transferencias 
		<button type="button" class="btn btn-outline btn-circle">
			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
		</button>
	</h1>

	<uib-tabset active="active">
		<uib-tab index="$index" ng-repeat="transfer in vm.transfers" heading="{{transfer.title}}">
			<!-- steps -->
			<div class="flexit">
				<div class="flex-grow">
					<h2>Paso 1: Ingreso de datos</h2>
				</div>
				<div class="btn-group steps flexit align-items-center">
					<label class="btn btn-outline btn-circle btn-default" ng-model="vm.steps" uib-btn-radio="'step-1'">1</label>
					<label class="btn btn-outline btn-circle btn-default" ng-model="vm.steps" uib-btn-radio="'step-2'">2</label>
					<label class="btn btn-outline btn-circle btn-default" ng-model="vm.steps" uib-btn-radio="'step-3'">3</label>
			    </div>
			</div>
			<!-- content -->
			<div class="flexit columns">
				<!-- left -->
				<div class="left-column flex-grow">
					<div class="panel panel-primary-lt flex-col">
						<div class="panel-heading">
							<h3 class="panel-title">
								Origen
							</h3>
						</div>
						<div class="panel-body flex-grow">
							<div class="btn-group-vertical" role="group">
								<label class="btn btn-default" ng-repeat="account in vm.origins" ng-model="vm.origin" uib-btn-radio="'origin.alias'+$index">
									{{account.alias}} | {{account.number}}
								</label>
							</div>
						</div>
						<div class="panel-footer">
							Saldo Holding
						</div>
					</div>
				</div>
				<!-- right -->
				<div class="right-column flex-grow">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Destinatarios y Montos
							</h3>
						</div>
						<div class="panel-body no-padding">
							<!-- Add receptor -->
							<div class="add-receptor flexit align-items-center">
								<label class="flex-shrink">Agregar destinatarios</label>
								<div class="input-group flexit">
									<input class="form-control" type="text" name="destinatario" placeholder="Buscar Alias, Nombre, Razón Social ...">
									<span class="input-group-btn">
    									<button class="btn btn-default" type="button">
											<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    									</button>
									</span>
								</div>
								<button class="btn btn-primary btn-xs">
									<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
									Agenda Destinatarios
								</button>
							</div>
							<!-- Transactions -->
							<div class="transactions">
								<div class="transaction-top">
									<div class="transaction-row clearfix">
										<div class="col-sm-5">
											<input class="form-control" type="text" name="transaction-type" placeholder="Nombre de transacción">
										</div>	
										<div class="col-sm-5">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="save">
													Guardar como Transacción Frecuente
												</label>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="actions text-right">
												<button type="button" class="btn btn-circle btn-outline">m </button>
												<button type="button" class="btn btn-circle btn-outline">&times;</button>
											</div>
										</div>
									</div>
								</div>
								<ul class="list-unstyled transaction-body">
									<li 
										ng-repeat="recipient in vm.recipients" 
										ng-class="{
											'danger': recipient.transaction.description == 'RF1000', 
											'warning': recipient.transaction.description == 'RF2003'
										}"
									>
										<div class="transaction-row clearfix">
											<div class="col-sm-5">
												<div class="col-sm-5">
													<span class="top">
														{{recipient.firstName}} {{recipient.middleName}} {{recipient.lastName}}
													</span>
													<span class="bottom">
														{{recipient.id}}
													</span>
												</div>
												<div class="col-sm-7">
													<span class="top">
														{{recipient.bank.name}}
													</span>
													<span class="bottom">
														{{recipient.bank.account}}
													</span>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="col-sm-4">
													<span class="top">
														{{recipient.transaction.alias}}
													</span>
													<span class="bottom">
														{{recipient.transaction.description}}
													</span>
												</div>
												<div class="col-sm-8">
													<span class="ammount">
														{{recipient.transaction.ammount}}
													</span>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="actions text-right">
													<button type="button" class="btn btn-circle btn-outline">e</button>
													<button type="button" class="btn btn-circle btn-outline">m</button>
													<button type="button" class="btn btn-circle btn-outline" ng-click="vm.removeRow($index)">&times;</button>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<div class="transaction-bottom">
									<div class="transaction-row clearfix">
										<div class="col-sm-6">
											<span>
												Registros: ({{vm.recipients.length}})
											</span>
										</div>
										<div class="col-sm-6">
											<h4>
												Total: {{ vm.getTotal() }}
											</h4>
										</div>
									</div>
								</div>
							</div>
							<!-- Emisor Code  -->
							<div class="emisor-code">
								<div class="transaction-row">
									<ul class="list-inline">
										<li>
											Código DCV Emisor
											<span class="glyphicon glyphicon-question-sign" tooltip-placement="top" uib-tooltip="Hola tooltip "></span>
										</li>
										<li>
											<div class="input-custom">
												<input class="form-control" type="text" name="DVC" placeholder="Monto" ng-model="vm.dvc">
												<button type="button" class="btn btn-circle btn-outline btn-xs" ng-click="vm.dvc = null" ng-disabled="!vm.dvc">&times;</button>
											</div>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary btn-lg">Siguiente Paso</button>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
</body>
</html>