// Bootstrap UI Normalize
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Variables
	
	$grow: 1 0 auto;
	$shrink: 0 1 auto;

	$blue: #1fa4df;
	$green: #6c9800;

	$primary: #47b5e9; 
	$primary-lt: #acdef5; 

// Mixins 
@mixin flexit() {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flexit {
	@include flexit();
}

@mixin flex-wrap($value) {
	/* wrap || nowrap || wrap-reverse */
    -moz-box-wrap: $value;
    -webkit-box-wrap: $value;
    -webkit-flex-wrap: $value;
    -ms-flexbox-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}
.flex-wrap {
	@include flex-wrap(wrap);
}

@mixin flex-direction($value) {
	/* column || row */
    -moz-box-direction: $value;
    -webkit-box-direction: $value;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: $value;
    -ms-flexbox-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}
.flex-col {
	@include flex-direction(column);
}

@mixin flex-item($value) {
	/* shrink || grow */
    -webkit-box-flex: $value;
    -moz-box-flex: $value;
    -webkit-flex: $value;
    -ms-flex: $value;
    flex: $value;
}
.flex-grow {
	@include flex-item($grow);
}

.flex-shrink {
	@include flex-item($shrink);
}

@mixin flex-align-items($value) {
	/* flex-start || flex-end || center || baseline || stretch */
    -webkit-box-align: $value;
    -webkit-align-items: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
    align-items: $value;	
}
.align-items-center {
	@include flex-align-items(center);
}

@mixin flex-justify($value) {
    -webkit-box-pack: justify;
    -webkit-justify-content: $value;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: $value;
}

@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
	box-shadow: $value;
}

@mixin vert-gradient($color1, $color2) {
	background: $color1;
	background: -moz-linear-gradient(90deg, $color1 0%, $color2 100%);
	background: -webkit-gradient(linear, bottom, top, color-stop(0%,$color1), color-stop(100%,$color2));
	background: -webkit-linear-gradient(-90deg, $color1 0%,$color2 100%);
	background: -o-linear-gradient(180deg, $color1 0%,$color2 100%);
	background: -ms-linear-gradient(180deg, $color1 0%,$color2 100%);
	background: linear-gradient(180deg, $color1 0%,$color2 100%);
}

// Styles

body {
	color: #333333;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 20px 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 21px;
}

.no-padding {
	padding: 0px !important;
}

.btn {
	&.btn-circle {
		border-radius: 50%;
		height: 24px;
		padding: 3px;
		text-align: center;
		width: 24px;

		&.btn-xs {
			height: 18px;
			width: 18px;
			padding: 0;
		}
	}

	&.btn-outline {
		background: transparent;
		border: 1px solid;
		color: $blue;
	}

	&.btn-primary {
		border-color: #1d53a5;

		@include vert-gradient(#0077be, #1d53a5);
	}

	.steps & {
		border: 2px solid;
		border-radius: 50% !important;
		color: #cccccc;
		font-weight: 600;
		height: 30px; 
		margin-right: 65px;
		position: relative;
		width: 30px;

		&::after {
		    background-color: #ccc;
		    content: "";
		    display: block;
		    height: 2px;
		    left: 28px;
		    position: absolute;
		    top: 12px;
		    width: 65px;
		}

		&:last-child {
			margin-right: 0;

			&::after {
				display: none;
			}
		}

		&.active {
			color: $green;
			@include box-shadow(none);
		}
	}

	.add-receptor & {
		height: 30px;
	}

	.btn-group-vertical & {
		text-align: left;
		font-size: 13px;

		&.active {
			background-color: #f6f6f6;
			box-shadow: none;
		}
	}	
}

.form-control {
	background-color: #f6f6f6;
}

.nav-tabs {

	@include flexit();

	> li {

		@include flex-item(1 1 auto);

		> a {
			background: #f6f6f6;
    		border-color: #e9e9e9;
    		border-radius: 6px 6px 0 0;
    		color: $blue;
    		font-size: 13px;
    		height: 100%;
    		margin-right: 10px;
    		text-align: center;
		}

		&.active  {
			> a {
				color: #666666;
			} 
		}

		&:last-child {
			> a {
				margin-right: 0;
			}
		}
	}
}

.columns {
	.left-column {
		width: 33.33%;

		.btn-group-vertical {
			width: 100%;
		}
	}
	.right-column {
		margin-left: -1px;
		width: 66.66%;
	}

	margin-bottom: 30px;
}

.panel {
	border: 1px solid #e9e9e9;
	border-radius: 0;
	height: 100%;
	margin: 0;

	> div {
		border: 0;
	}
}

.panel-heading {
	border-radius: 0;
	color: #ffffff;
	padding: 10px 20px;

	.panel-primary & {
		background-color: $primary;
	}

	.panel-primary-lt & {
		background-color: $primary-lt;
	}
}

.panel-body {
	padding: 16px;
}

.add-receptor {
	padding: 15px 25px 15px 20px;

	label {
		font-size: 16px;
		font-weight: 300;
	}
	
	.input-group {
		margin: 0 12px 0 24px;
		@include flex-item(1 1 auto);

		.form-control {
	    	display: block;
			font-size: 12px;
			font-style: italic;
	    	height: 30px;
	    	padding: 8px 12px;
		}
		.input-group-btn {
			display: block;
			width: auto;
			
			.btn-default {
				background-color: #eeeeee;
				border-left: 0;
				padding: 8 12px;
			}
		}
	}
}

// Transactions 
.transaction-top {
	background-color: $primary-lt;
	border-top: 1px solid $primary;

	.form-control {
		font-size: 18px;
		height: 38px;
	}

	.checkbox {
		margin: 9px 0;
	}
}

.transaction-body {
	max-height: 280px;
	overflow: overlay;
	margin: 0;

	li {
		padding: 0 20px;

		&:last-child {
			.transaction-row {
				border: 0;
			}
		}

		&.danger {
			background-color: #f4d8e7;
		}

		&.warning {
			background-color: #fff7df;
		}
	}

	span {
		display: block;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	.top {
		font-size: 13px;
		max-width: 140px;
	}
	.bottom {
		max-width: 140px;
		font-size: 12px;
		opacity: .6;
	}
	.ammount {
		font-size: 18px;
		text-align: right;
	}
}

.transaction-row {
	padding: 8px 0;

	div {
		padding-right: 5px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.transaction-body & {
		border-bottom: 1px solid #e9e9e9;
	}
	.transaction-top & {
		padding: 12px 20px;
	}
}

.transaction-bottom {
	@extend .transaction-top;
	border-top: 0;

	h4 {
		margin: 0;
	}
}

.emisor-code {
	padding: 0 20px;
	background-color: #fff7df;

	li {
		color: #ccc;

		.glyphicon {
			color: $blue;
		}
	}
}

.input-custom {
	position: relative;

	.form-control {
		font-size: 12px;
		font-style: italic;
    	height: 30px;
    	padding: 8px 12px;
	}

	.btn {
		color: #c8175e;
		right: 6px;
		position: absolute;
		top: 6px;

		&[disabled] {
			color: #ccc;
			opacity: 1;
		}
	}
}